.ql-toolbar .ql-formats .ql-image-align {
  padding: 0 8px;
  margin-left: 8px;
  border-left: 1px solid #e0e0e0;
}
.ql-toolbar .ql-image-align .ql-picker-label::before {
  content: "图片对齐";
  font-size: 12px;
  width: 60px;
  text-align: center;
}
.ql-toolbar .ql-image-align .ql-picker-item::before {
  content: attr(data-value);
  font-size: 12px;
  padding: 0 8px;
}
.ql-editor img {
  max-width: 100%;
  height: auto;
}

.ql-toolbar .ql-formats .ql-jimmy {
  padding: 0 8px;
  margin-left: 8px;
  border-left: 1px solid #e0e0e0;
}
.ql-toolbar .ql-formats .ql-jimmy::before {

  content: "图片对齐";
  font-size: 12px;
  width: 60px;
  text-align: center;
}
/* .ql-toolbar .ql-jimmy .ql-picker-label::before {
  content: "图片对齐";
  font-size: 12px;
  width: 60px;
  text-align: center;
}
.ql-toolbar .ql-jimmy .ql-picker-item::before {
  content: attr(data-value);
  font-size: 12px;
  padding: 0 8px;
}
.ql-editor img {
  max-width: 100%;
  height: auto;
} */
